/* google font link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

  *{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  .input-box .icon{
    line-height: 57px;
  }

  .input-box label{
    transition: 0.5s;
    transform: translateY(-50%);
  }
   .input-box input:valid~label,
   .input-box input:focus~label{
      top: -5px;
   }


   .main-section{
    animation: animatebg 5s linear infinite; 
   }

   @keyframes animatebg {
    0% {
        filter: hue-rotate(0deg);
      }
      100% {
        filter: hue-rotate(360deg);
      }
    }
   }
